<!DOCTYPE html>
<html lang="en">
<head>

     <title>Liên hệ</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="../static/css/fonts/themify-icons-font/themify-icons/themify-icons.css">
     <link rel="stylesheet" href="../static/css/contact_form.css">


</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{category}}">
              {{message}}
          </div>
      {% endfor%}
  {% endif%}
  {%endwith%}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Chúng tôi luôn sẵn sàng lắng nghe phản hồi từ bạn!</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<!-- <h3 class="mb-4">Get in touch</h3> -->
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Chúng tôi sẽ sớm hồi đáp!
				      		</div>
									<form action="/upload_msg" method="POST" id="contactForm" name="contactForm">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
												</div>
											</div>
											
											<div class="col-md-12">
												<div class="form-group">
													<textarea name="message" class="form-control" id="message" cols="30" rows="7" placeholder="Lời nhắn" required></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
                          <button id="sendBtn" class="btn btn-primary"><a href="{{url_for('upload_msg')}}"></a>Gửi ngay</button>
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
									<h3 class="mb-4 mt-md-4">Thông tin liên hệ</h3>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="ti-map-alt"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Địa chỉ</span> 236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="ti-mobile"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Điện thoại:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="ti-location-arrow"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Email:</span> <a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
					          </div>
				          </div>
				        
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	</body>


</html>