<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nghe thử - Câu {{sen_id}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/css/bootstrap/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel = "icon" href ="../static/img/logo.jpg" type = "image/x-icon">

    <script src="../static/DataTables/datatables.min.js"></script>
    <script src="../static/DataTables/DataTables-1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable({}); // dòng này để nhúng bảng biểu thành dạng bảng được phân trang
        });

    </script>
</head>
<body>

    <header >
        <div id="nav">
            <div id="logo" class="col-4 left-float"><i class="ti-microphone"></i>Audio Data Collection</div>
            <ul id="nav-links" class="col-8 ">
                <li class="upperCase" id="by-users"><a href="#">Thống kê người dùng</a></li> 
                <li class="upperCase" id="by-sentences"><a href="#">Thống kê câu</a></li>
                <li class="upperCase"><a href="{{url_for('logout')}}" >Đăng xuất </a></li> 
            </ul>
            <div class="clearfix"></div>
        </div>
    </header>

<div class="container">
    <div class="user-info">
        <h4>Xin chào Admin: {{fullname}}</h4>
        <h4>Thống kê thu âm câu: {{sen_id}} </h4>
        <h5>Nội dung: {{sen_content}}</h5>
        <h5>Số files đã ghi âm được: {{num_files}}</h5>
        <h5>Tổng thời gian: {{duration}} giờ</h5>
        <a href="{{ url_for('export_xls_sen', id = id) }}">
            <button><i class="ti-download"></i> Xuất file xls</button>
        </a>
    </div>
    <!--    <p>Nhập vào từ khóa tìm kiếm:</p>-->
    <!--    <input class="form-control" id="myInput" type="text"-->
    <!--           placeholder="Tìm kiếm..">-->
    <br>
    <table class="table table-hover" id="myTable">
        <thead>
        <tr class="thead">
            <th>ID</th>
            <th>Tên đăng nhập</th>
            <th>Tên đầy đủ</th>
            <th>Audio</th>
        </tr>
        </thead>
        <tbody id="myBody">
        {% for item in users_arr %}
        <tr class="tbody">
            <td class="colId col-2">{{item[0]}}</td>
            <td class="col-3">{{item[1]}}</td>
            <td class="col-3">{{item[2]}}</td>
            <td class="col-4">
                <audio controls>
                    <source src="/{{item[3]}}" type="audio/wav">
                </audio>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
    
</div>

</body>
</html>

