{% extends "layout.html" %}
{%block script%}
<script type="text/javascript">
    var sen_id = {{sen_id}};
    var username = "{{username}}"
    var user_id = {{id}}
</script>
{%endblock%}
{% block style%}
<style>
    table, th, td{
        border: 1px solid #000;
    }
</style>
{%endblock%}
{% block content%}

    <div class="user-info">
        <h4>Xin chào: {{fullname}}</h4>
        <h6>ID: {{id}}</h6>
        <h5>Số câu đã ghi âm được: {{complete_sens}}</h5>
        <h5>Số câu đã bỏ qua: {{skip_sens}}</h5>
        <h5>Số câu còn phải thu: {{left_sens}}</h5>
        <a href="{{url_for('nghethu_each', id = id)}}">Nghe thử</a>
    </div>
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th width="70%">Nội dung</th>
            <th>Controls</th>
            <th>File</th>
        </tr>
        
        {% for i in range(0,skip_sens) %}
        <tr>
            <td id="colId_{{i}}" class="colId">{{sen_id[i]}}</td>
            <td id="colCau_{{i}}" class="content">
                <label>{{skip_sens_content[i]}}</label>
            </td>
            <td id="colControls_{{i}}" class="controls">
                <button id="recordButton_{{i}}" class="recordBtn">Ghi âm</button>
                <button class="stop" id="stopButton_{{i}}" disabled>Dừng lại</button>
            </td>
            <td id="colWav_{{i}}">

            </td>
        </tr>
        {%endfor%}

    </table>
    <div align="center">
        <button id="upAudio" onclick="upload()">Tải lên và tiếp tục thu âm</button>
        <button><a href="{{url_for('skip')}}" >Bỏ qua </a></button>
        <button><a href="{{url_for('logout')}}" >Đăng xuất </a></button>
    </div>

    <script src='../static/js/app_skip.js'></script>
    <script src='../static/js/recorder.js'></script>
    
    

{%endblock%}

