<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thống kê - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/css/bootstrap/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel = "icon" href ="../static/img/logo.jpg" type = "image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-grid.css">
    <script src="../static/DataTables/datatables.min.js"></script>
    <script src="../static/DataTables/DataTables-1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').dataTable({}); // dòng này để nhúng bảng biểu thành dạng bảng được phân trang
        });
    </script>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        // Draw the chart and set the chart values
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Số câu đã thu được', {{complete_per}}],
          ['Số câu bị bỏ qua', {{skip_per}}],
          ['Số câu còn lại', {{remain_per}}],
         
        ]);
        
          // Optional; add a title and set the width and height of the chart
          var options = {'title':'Thống kê thu âm', 'width':600, 'height':400};
        
          // Display the chart inside the <div> element with id="piechart"
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          chart.draw(data, options);
        }
        </script>
    
</head>
<body>
    <header >
        <div id="nav">
            <div id="logo" class="col-4 left-float"><i class="ti-microphone"></i>Audio Data Collection</div>
            <ul id="nav-links" class="col-8 ">
                <li class="upperCase" id="by-sentences"><a href="#">Trang chủ</a></li>
                <li class="upperCase" id="by-users"><a href="{{url_for('thongke_admin_user')}}">Thống kê người dùng</a></li> 
                <li class="upperCase" id="by-sentences"><a href="{{url_for('thongke_admin_sentences')}}">Thống kê câu</a></li>
                <li class="upperCase"><a href="{{url_for('logout')}}" >Đăng xuất </a></li>  
 
                
            </ul>
            <div class="clearfix"></div>
        </div>
    </header>

<div class="container">
    <div class="admin-info left-float" style="margin-top: 100px;margin-bottom: 50px;">
        <h4>Xin chào Admin: {{fullname}}</h4>
        
    </div>
    <div class="clearfix"></div>

    <div id="piechart" style="margin-bottom: 50px; display: none;"></div>    
   
    <ul class="sen-status row">
        <li class="col-2 ">
            <p class="name">Tổng số câu:</p>
            <div class="num">{{all_sens_num}}</div>
        </li>

        <li class="col-2 ">
            <p class="name">Số câu đã được thu âm:</p>
            <div class="num">{{complete_per}}</div>
        </li>

        <li class="col-2 ">
            <p class="name">Số câu bị bỏ qua: </p>
            <div class="num">{{skip_per}}</div>
        </li>

        <li class="col-2 ">
            <p class="name">Số câu còn lại:</p>
            <div class="num">{{remain_per}}</div>
        </li>
        
    </ul>

    
    <a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" style="display: inline;">
        <i class="ti-angle-double-up"></i>
    </a>
    <script>
        let userBtn = document.getElementById('by-users');
        let senBtn = document.getElementById('by-sentences');
        let userTable = document.querySelector('.users-table');
        let sentenceTable = document.querySelector('.sentences-table');

        function checkClass(element, name){
            str = element.className;
            if (str.includes(name)) return true;
            else return false;
        }

        userBtn.onclick = function(){
            if (!checkClass(userTable,'show')) {
                userTable.classList.add('show');
            }
            if (checkClass(sentenceTable,'show')){
                sentenceTable.classList.remove('show');
            }
        }

        senBtn.onclick = function(){
            if (!checkClass(sentenceTable,'show')) {
                sentenceTable.classList.add('show');
            }
            if (checkClass(userTable,'show')){
                userTable.classList.remove('show');
            }
        }
        
    </script>
</div>

</body>
</html>

